/* NAV styles css sheet */
/* NAV section -------------------- */
nav {
    grid-area: nav;
    border-left: 1px grey solid;
    
}
nav ul {
    font-size: 2em;
    margin-top: 30px;
}
nav li {
    list-style: none;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(rgba(127, 144, 129, 0.883), rgb(63, 78, 68))
}
nav li a {
    width: 90%; /* the width will fill the li fully for hover fill */
    height: 100%;
    text-align: left;
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
}
nav li a:hover {
    color: rgb(233, 233, 233);
}
nav ul li:active a {
    background-color: blue;
}
#contact {
    grid-area: "contact";
    font-size: 1.2em;
    border-left: 1px grey solid;
    /* background-color: rgb(58, 133, 58); */
}
#contact address {
    margin-top: 5px;
    margin-left: 5%;
}
#contact p {
    margin: 15px 40px 5px 15px;
}
/* FOOTER section ---------------------------------- */
footer {
    grid-area: footer;
    border-top: 1px grey solid;
    color: rgb(202, 200, 200);
    font-size: 1em;
    margin-top: 10px;
    background-image: linear-gradient(rgb(149, 147, 147), rgb(36, 36, 36));
}
footer ul {
    margin: 5px auto;
    justify-content: center;
    display: flex;
}
footer li {
    float: left;
    width: auto;
    margin-left: 20px;
    list-style: none;
}
footer li a {
    color: rgb(202, 200, 200);
    text-decoration: none;
}
footer li a:hover {
    color: blue;
}
/* MEDIA for the nav  mobile ------------------------- */
@media screen and (max-width: 750px) {
    nav {
        border-top: none;
        border-bottom: 1px black solid;
    }
    nav ul {
        justify-content: center;
        display: flex;
        margin: auto;
        font-size: 1em;
        height: 100%;
    }
    nav li {
        width: 25%;
        float: left;
    }
    nav a {
        margin-top: 7px;
    }
    footer {
        font-size: 0.9em;
    }
}
@media screen and (max-width: 417px) {
    footer {
        font-size: 0.8em;
    }
    footer li {
        margin-left: 10px;
    }
}