* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* web page sectioning ------------------------------ */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(223, 234, 235);
    background: -moz-linear-gradient(0deg, rgba(217,221,195,1) 0%, rgba(240,239,231,1) 15%, rgba(252,245,232,1) 95%);
    background: -webkit-linear-gradient(0deg, rgba(217,221,195,1) 0%, rgba(240,239,231,1) 15%, rgba(252,245,232,1) 95%);
    background: linear-gradient(0deg, rgba(217,221,195,1) 0%, rgba(240,239,231,1) 15%, rgba(252,245,232,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9ddc3",endColorstr="#fcf5e8",GradientType=1);
}
.wrapper {
    margin: 0 auto auto auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 45% 25% 25% 5%;
    grid-template-areas: 
        "main header"
        "main nav"
        "main contact"
        "footer footer";
    width: 80%;
    height: 100vh;
}
header {
    grid-area: header;
    background-size: contain;
}
main {
    grid-area: main;
    font-size: 1.3em;
    overflow: auto;
}
/* main section scroll bar styling ---------- */
main::-webkit-scrollbar {
    width: 1em;
}
main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
main::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  outline: 1px solid slategrey;
}
/* SMALLER elements ------------------------------ */
h1, h2 {
    text-align: center;
}
h2 {
    font-size: 1.2em;
}
main p {
    margin: 20px 100px 20px 100px;
}
.roundCorners {
    border-radius: 15px;
}
/* START of the media query section ------------------------ */
@media screen and (min-width: 751px) {
.displayToggle {
    display: none;
}
}
/* TABLET secton ------------------ */
@media screen and (max-width: 1029px) {
.wrapper {
    width: 100vw;
    }
}
/* MOBILE media section ----------------------- */
@media screen and (max-width: 750px) {
.wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 5% 88% 7%;
    grid-template-areas: 
            "nav"
            "main"
            "footer";
    }
    header {
        display: none;
    }
    main {
        font-size: 1.1em;
    }
    .displayToggle {
        display: inline-block;
    }
    #contact {
        display: none;
    }
    p {
        margin: 10px
    }
}
@media screen and (max-width: 425px) {
    main p {
        margin: auto 20px;
    }
}